#!/usr/bin/env python
# encoding: utf-8

import os

from common import BASE_DIR


DEBUG = True

# Convenient for developing and test
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
    }
}

